.contact-form {
  font-weight: bold;
  text-transform: uppercase;
}
.contact-form .form-control-lg {
  border-radius: 0rem;
  border-color: #c62828;
  border-width: 2px;
}
.contact-form-btn {
  background-color: #bdc3c7;
  color: #d1381c;
  padding: 10px;
  border-radius: 0rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.contact-form-btn:hover {
  background-color: #404142;
  color: #ec644b;
}
