.app-header {
  width: 100%;
  top: 0;
  background-color: #020101;
}
.navbar-brand {
  margin-left: 15px;
  font-size: 30px;
}
.navbar-toggler {
  color: #fff;
}
.navbar-toggler a:hover {
  color: #ec644b;
}
#navbar-brand a:link,
#navbar-brand a:visited,
#navbar-brand a:active,
#navbar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-nav {
  padding: 0 20px;
  text-transform: uppercase;
}
.nav-link {
  padding: 0 1rem;
}
#navlinks-div a {
  font-size: 22px;
}
#navlinks-div a:link,
#navlinks-div a:visited,
#navlinks-div a:active {
  color: #ec644b;
  text-decoration: none;
}
#navlinks-div a:hover {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
}
.activeLink {
  border-bottom: 1px solid #c62828;
  color: #bdc3c7 !important;
  text-decoration: none !important;
}
.activeLink:hover {
  color: #bdc3c7 !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #020101;
  z-index: 9999;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.overlay a:link {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  border: 0px;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1 !important;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background-color: transparent;
  color: #bdc3c7;
}
.overlay .closebtn:hover {
  color: #f1f1f1 !important;
}
