* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Inconsolata', monospace !important;
  font-size: 20px;
  background-color: #020101;
}
a:link,
a:visited,
a:active {
  color: #d32f2f;
  text-decoration: none !important;
  transition: 0.3s linear;
}
.main-container a:link,
.main-container a:visited,
.main-container a:active {
  border-bottom: solid 3px #0c3b6d;
}
a:hover {
  text-decoration: none !important;
  color: #212121;
}
@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  h5 {
    font-size: 1rem;
  }
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #ec644b;
}
.focusable.visually-hidden:focus {
  position: relative;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
  color: #ec644b;
}
.hero-image {
  background: rgb(0, 0, 0)7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(170deg, rgb(0, 0, 0) 40%, rgb(173, 61, 61));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(170deg, rgb(0, 0, 0) 40%, rgb(173, 61, 61));
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-text {
  padding: 10px;
  color: white;
}
@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .hero-image {
    height: 35vh;
  }
}
.main-container {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
}
.index-container {
  top: 0px;
}
.main-content {
  padding: 50px 30px 20px 30px;
  background: #fff;
}
.page-title-div {
  padding-bottom: 20px;
  text-transform: uppercase;
}
.page-text-div {
  padding-bottom: 40px;
}
.credits-list-div {
  padding-bottom: 40px;
}
.suggestions-text {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .main-content {
    padding: 20px 0px 10px 0px;
  }
  .index-content {
    padding: 20px 15px 10px 15px;
  }
  .page-title-div {
    padding-bottom: 10px;
  }
  .page-text-div {
    padding-bottom: 25px;
  }
  .credits-list-div {
    padding-bottom: 25px;
  }
  .suggestions-text {
    font-size: 0.8rem;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #020101;
  color: white;
  text-align: center;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer ul > li {
  display: inline-block;
  float: none;
}
.footer li a {
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #dd8787;
}
.footer a:hover {
  text-decoration: none !important;
  color: #fff;
}
