* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Inconsolata', monospace !important;
  font-size: 20px;
  background-color: #020101;
}
a:link,
a:visited,
a:active {
  color: #d32f2f;
  text-decoration: none;
  transition: 0.3s linear;
}
.main-container a:link,
.main-container a:visited,
.main-container a:active {
  border-bottom: solid 3px #0c3b6d;
}
a:hover {
  /* text-decoration: underline; */
  color: #212121;
}
@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #ec644b;
}
.focusable.visually-hidden:focus {
  position: relative;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
  color: #ec644b;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.jumbotron {
  background-color: #020101;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-bottom: 0rem;
}
@media screen and (max-width: 768px) {
  .jumbotron {
    height: 45vh;
  }
  .hero-text {
    top: 25%;
  }
}
.main-container {
  position: relative;
  padding: 30px;
  background-color: #484848;
  min-height: 100vh;
}
.index-container {
  top: 0px;
}
.main-content {
  padding: 50px 30px;
  background: #fff;
}
.page-title-div {
  padding-bottom: 30px;
  text-transform: uppercase;
}
.page-text-div {
  padding-bottom: 40px;
}
.credits-list-div {
  padding-bottom: 40px;
}
.suggestions-text {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .main-content {
    padding: 40px 15px;
  }
  .page-title-div {
    padding-bottom: 15px;
  }
  .page-text-div {
    padding-bottom: 25px;
  }
  .credits-list-div {
    padding-bottom: 25px;
  }
  .suggestions-text {
    font-size: 0.8rem;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #020101;
  color: white;
  text-align: center;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer ul > li {
  display: inline-block;
  float: none;
}
.footer li a {
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #ec644b;
}
.footer a:hover {
  text-decoration: none !important;
  color: #fff;
}
