.post-cover-list {
  list-style-type: none;
  padding: 0;
}
.post-cover-node {
  display: inline-block;
  float: none;
  margin: 0 0 10px 10px; 
  cursor: pointer;
}
.post-cover-node img {
  width: auto;
  height: auto;
}
.container {
  position: relative;
  padding: 0;
  margin: 0;
}
.post-cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #d32f2f;
}
.container:hover .post-cover-overlay {
  opacity: 1;
}
.post-cover-text {
  color: white;
  font-size: 1.1rem;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  word-wrap: break-word;
}
.post-cover-description {
  text-align: right !important;
  padding-top: 5px;
  font-size: .8rem;
}
.modal-body {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 15px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-closebtn {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 36px;
  background: transparent;
  border: 0;
  color: #0c3b6d;
  transition: 0.3s;
}
.modal-closebtn:hover {
  color: #5e5e5e;
}
#modal h2 {
  margin-bottom: 0;
}
#modal .tag-list {
  padding: 0;
}
.modal-post-content {
  padding-top: 7px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .post-cover-node img {
    width: 100px;
    height: 100px;
  }
  .post-cover-overlay {
    padding: 5px;
  }
  .post-cover-text {
    font-size: .8rem;
    word-wrap: break-word;
  }
  .post-cover-description {
    font-size: .6rem;
    text-align: center !important;
  }
  .modal-closebtn {
    top: -17px;
    right: -9px;
    font-size: 25px;
  }
}