.recent-side-content a:link,
.recent-expanded-content a:link,
.recent-page-content a:link {
  border-bottom: 0 !important;
}
.recent-expanded-content h1,
.recent-side-content h2 {
  text-transform: uppercase;
}
.recent-side-content {
  padding: 0px;
}
.recent-side-content ul {
  font-size: 1rem;
}
.recent-side-content ul,
.recent-expanded-content ul,
.recent-page-content ul {
  list-style: none;
  word-break: break-word;
  padding: 0;
}
.recent-side-content li,
.recent-page-content li {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-left: 5px;
  padding-top: 10px;
}
.recent-expanded-content li {
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-left: 0;
  padding-top: 5px;
}
.recent-side-content li:last-child,
.recent-expanded-content li:last-child,
.recent-page-content li:last-child {
  border-bottom: 0px;
}
.recent-expanded-content {
  padding: 0;
  padding-top: 50px;
}
.recent-expanded-content .more-link {
  font-size: 1.2rem;
}
.recent-expanded-content .svg-inline--fa,
.recent-side-content .svg-inline--fa {
  height: 0.8em;
}
.recent-page-link {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .recent-page-content ul{
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .recent-page-link {
    font-size: .8rem;
  }
}
@media (max-width: 575px) {
  .recent-expanded-content .more-link {
    font-size: 1rem;
  }
  .recent-expanded-content ul {
    padding-left: 0px;
    margin-bottom: 0;
  }
  .recent-expanded-content .svg-inline--fa.fa-w-14 {
    width: 0.7em;
  }
}
