.search-div {
  justify-content: flex-end !important;
  display: flex;
}
.search-form {
  width: 100%;
}
@media (min-width: 768px) {
  .search-form {
    width: 150px;
  }
  .search-form.focus {
    width: 300px;
  }
}
.input-wrapper {
  padding-left: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  color:  #bdc3c7;
  transition: all 0.5s ease;
}
.input-wrapper .form-control {
  color: #fff;
}
.input-wrapper .form-control:focus {
  border-color: #c62828;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: 0.5s;
  outline: none;
}
.input-wrapper .input-search {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c62828;
  border-radius: 0%;
  transition: 0.5s;
}
.input-wrapper .input-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.input-wrapper .input-search::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.input-wrapper .input-search::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.search-results-div {
  position: absolute;
  top: 40px;
  z-index: 500;
  float: left;
  background: #bdc3c7; 
}
.search-results-div ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
.search-results-item {
  padding: 0.25rem 0.9rem;
  border-bottom: 2px solid #000;
}
.search-results-item:last-child {
  border-bottom: 0px;
}
.search-results-item:hover {
  background-color: gray;
  cursor: pointer;
}
.topics-text {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
@media (max-width: 768px) {
  .topics-text { 
    font-size: 0.8rem;
  }
}
