.search-div {
  justify-content: flex-end !important;
  display: flex;
  padding-right: 0px;
}
.search-form {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 0px 5px 0px 16px;
  border: 3px solid #ec644b;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;    
  font-size: 1rem;
}
.search-form::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 17px;
  right: -5px;
  top: 14px;
  background: #ec644b;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search-form-focus, .search-form:hover {
  width: 200px;
  margin-right: 0px;
}
.search-form-focus::after, .search-form:hover::after {
  height: 0px;
}
.search-form input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  background: transparent;
  outline-width: 0px;
}
@media (max-width: 768px) {
  .search-form-focus, .search-form:hover {
    width: 300px;
  }
}

/* .search-form {
  width: 100%;
}
.search-form-focus {
  width: 100%;
}
@media (min-width: 768px) {
  .search-form {
    width: 150px;
    transition: all 0.5s ease;
  }
  .search-form-focus {
    width: 300px;
  }
} */
.input-wrapper {
  padding-left: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  color: #bdc3c7;
}
.input-wrapper .form-control {
  color: #fff;
}
.input-wrapper .form-control:focus {
  border-color: #c62828;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: 0.5s;
  outline: none;
}
.input-wrapper .input-search {
  background: #020101;
  border: 0;
  border-bottom: 2px solid #c62828;
  border-radius: 0%;
  transition: 0.5s;
}
.input-wrapper .input-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.input-wrapper .input-search::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.input-wrapper .input-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.search-results-div {
  position: absolute;
  top: 40px;
  z-index: 500;
  float: left;
  background: #fff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}
.search-results-div ul {
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
}
.search-results-div ul li {
  position: relative;
  list-style: none;
  display: block;
  border-bottom: 1px solid rgb(66, 66, 66);
}
.search-results-div ul li:last-child {
  border-bottom: 0px;
}
.search-results-div ul li a {
  display: block;
  padding: 0.25rem 0.9rem;
}
.search-results-div ul li a:link,
.search-results-div ul li a:visited {
  color: #0c3b6d !important;
}
.search-results-div ul li a:hover {
  background-color: #d32f2f;
  color: #fff !important;
}
.search-results-div h5 {
  color: #9a0007;
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.search-results-div a:hover h5 {
  color: #fff;
}
.results-text {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
@media (max-width: 768px) {
  .search-results-div h5 {
    font-size: 1rem;
  }
  .results-text {
    font-size: 0.8rem;
  }
}
