.filterbtn-div {
  padding-bottom: 10px;
  margin-top: -30px;
}
.filter-btn {
  background-color: transparent;
  color: #d32f2f;
  border: 2px solid #d32f2f;
  border-radius: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.filter-btn:hover {
  background-color: #d32f2f;
  color: #fff;
}
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #d4d9dd;
  color: #000;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding-top: 60px;
  padding-left: 15px;
  z-index: 2;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.15);
}
.sidebar h5 {
  text-transform: uppercase;
  padding-bottom: 5px;
}
@media (min-width: 450px) {
  .sidebar h5 {
    font-size: 1.25rem;
  }
}
.checkbox {
  padding-bottom: 5px;
}
.checkbox input[type='checkbox'] {
  opacity: 0;
  margin-left: -13px;
}
.sidebar label {
  cursor: pointer;
}
.checked-label {
  color: #e01a1a;
}
.filter-count {
  color: #c27c7c;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  background: transparent;
  border: 0;
  color: #0c3b6d;
  transition: 0.3s;
}
.sidebar .closebtn:hover {
  color: #5e5e5e;
}
.reset-btn-div {
  padding-top: 50px;
  margin-left: -10px;
}
.reset-btn {
  background-color: transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #0c3b6d;
  border: 2px solid #0c3b6d;
  border-radius: 0;
}
.reset-btn:hover {
  background-color: #0c3b6d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .filterbtn-div {
    padding-bottom: 20px;
    margin-top: -25px;
    margin-left: -5px;
  }
  .filter-btn {
    padding: 0.15rem 0.5rem;
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    width: 200px;
    font-size: 0.9rem;
  }
  .checkbox label::before {
    height: 15px;
    width: 15px;
  }
  .reset-btn {
    font-size: 14px;
  }
}
