.sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  color: #000;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding-top: 60px;
  padding-left: 15px;
  z-index: 2;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  overflow: auto;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  background: transparent;
  border: 0;
  color: #0c3b6d;
  transition: 0.3s;
}
.sidebar .closebtn:hover {
  color: #5e5e5e;
}
.sidebar h4 {
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  left: 30%;
}
@media (max-width: 450px) {
  .sidebar h4 {
    font-size: 1.1rem;
  }
}
.sidebar-list-div {
  padding-top: 15px;
}
.sidebar-list-div .row {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 0px;
  border-bottom: 1px solid rgb(209, 206, 206);
}
.sidebar-list-div .col-9 {
  padding-left: 15px;
}
.sidebar-list-div .col-3 {
  padding-left: 50px;
}
.checkbox input[type='checkbox'] {
  opacity: 0;
  margin-left: -18px;
}
.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: '';
  display: inline-block;
}
/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 20px;
  width: 20px;
  border: 2px solid #000;
  left: 0px;
  top: 6px;
}
/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 8px;
  width: 12px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 10px;
}
/*Hide the checkmark by default*/
.checkbox input[type='checkbox'] + label::after {
  content: none;
}
/*Unhide on the checked state*/
.checkbox input[type='checkbox']:checked + label::after {
  content: '';
}
/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type='checkbox']:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
.sidebar label {
  cursor: pointer;
}
.checked-label {
  color: #e01a1a;
}
.filter-count {
  color: #c27c7c;
}
.reset-btn-div {
  padding-top: 50px;
  margin-left: -10px;
}
.reset-btn {
  background-color: transparent;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #0c3b6d;
  border: 2px solid #0c3b6d !important;
  border-radius: 0;
  position: absolute;
  bottom: 20%;
  left: 30%;
}
.reset-btn:hover {
  background-color: #0c3b6d;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .sidebar {
    width: 250px;
    font-size: 0.9rem;
  }
  .checkbox input[type='checkbox'] {
    opacity: 0;
    margin-left: -23px;
  }
  .sidebar-list-div .col-3 {
    padding-left: 40px;
  }
  .checkbox label {
    padding-left: 25px;
  }
  .checkbox label::before {
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .checkbox label::after {
    height: 7px;
    width: 11px;
    top: 7px;
  }
  .reset-btn {
    font-size: 14px;
  }
}
