.sidebar {
   width: 200px;
   min-height: 100vh;
   position: absolute;
   top: 20px;
   left: 0;
   background-color:#505757;
   color:white;
   font-size: 18px;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   padding-left: 10px;
   z-index: 2;
}
.sidebar a {
   text-decoration: none;
   font-size: 25px;
   color: #e2bbb4;
   display: block;
   transition: 0.3s;
 }
 .sidebar a:hover {
   color: #f1f1f1;
 }
 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 .filterbtn-div {
   padding-bottom: 10px;
   margin-top: -30px;
 }
 .filter-btn {
   background-color: #bdc3c7;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   color: #d1381c;
 }
 .filter-btn:hover {
  background-color: #404142;
  color: #ec644b;
 }
 @media screen and (max-width: 450px) {
  .sidebar {
    font-size: 16px;
   }
   .filterbtn-div {
     padding-bottom: 20px;
     margin-left: -10px;
   }
   .filter-btn {
    padding: .15rem .5rem;
    font-size: 14px;
   }
}