* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Inconsolata', monospace !important;
  font-size: 20px;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #ec644b;
}
a:hover {
  text-decoration: underline;
  color: #212121;
}
@media (max-width: 768px) {
  body {
    font-size: .9rem;
  }
  h1 {
    font-size: 1.9rem ;
  }
  h2 {
    font-size: 1.3rem;
  }
}
.main-container {
  position: relative;
  top: 50px;
  padding: 30px;
  background-color: #c62828;
  min-height: 100vh;
}
.search-content {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
}
.search-content input#search{
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 16px;
  float: left;
  color: #63717f;
  padding-left: 45px;
}
.search-content input#search::-webkit-input-placeholder {
   color: #65737e;
}
.search-content input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.search-content input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
} 
.search-content input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.form-control:focus {
  outline: 0 !important;
  border-color: transparent;
  box-shadow: none;
}
.btn{
  background: #2b303b;
}
.btn:focus {
  outline: 0 !important;
  border-color: transparent;
  box-shadow: none;
}

.topics-content {
  padding: 20px;
  background: #fff;
  text-align: center
}
.main-content {
  padding: 20px;
  background: #fff;
}
.page-title-div {
 padding-bottom: 30px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
  height: 70px;
  margin-top: 50px;
}