.sidebar {
   width: 200px;
   min-height: 100vh;
   position: absolute;
   top: 20px;
   left: 0;
   background-color:#505757;
   color:white;
   font-size: 18px;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   padding-left: 10px;
}
.sidebar a {
   text-decoration: none;
   font-size: 25px;
   color: #e2bbb4;
   display: block;
   transition: 0.3s;
 }
 .sidebar a:hover {
   color: #f1f1f1;
 }
 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 @media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }
 .filterbtn-div {
   padding-bottom: 15px;
 }